@import url('app.css');

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 50%;
}

.btn,
a.btn,
button.btn {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
}

.btn-s,
a.btn--green {
  color: #ffffff;
  background-color: #4e9a06;
}
.btn--green:hover,
a.btn--green:hover {
  color: #ffffff;
  background: #73d216;
}
.mystyle {
	background-image: url("../images/bgimg.jpg");
  background-repeat: no-repeat;
  background-position: center 0;
  background-size: contain;
  width: auto;
  height: 500px;
  text-align: center;
}
.nav-style {
  height:50px;
  
}